<div class="reveal" id="pmt-dialog-container" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <h2>{{{messageHelper "gpii_pmt_saveDialog_header"}}}</h2>
    <ul>
        {{#each unsavedChanges}}
        <li>
            {{this.description}}
        </li>
        {{/each}}
    </ul>

    <div class="button-group">
        <button id="" type="button" class="success button pmt-confirm-dialog-button">{{{messageHelper "gpii_pmt_saveButton"}}}</button>
        <button type="button"  class="delete button pmt-cancel-dialog-button">{{{messageHelper "gpii_pmt_cancelButton"}}}</button>
    </div>
</div>

