<h1>Developers Preference Test Tool</h1>
<h2><em>The Home Screen!</em></h2>
<div class="row">
    <div class="small-12 medium-6 columns">
        <h3>Create and Edit Preference Sets</h3>
        <p>
        Below you can create a New NP Set <em>(under construction)</em>,
        or view and edit one of the existing Test Personas that are part 
        of the GPII Development and Test Data.
        </p>
        <form action="/add-prefset" method="POST">
            <input name="prefset-name" type="text" placeholder="New Prefset Name" />
            <input type="submit" href="#" class="button" value="Create NP Set" />
        </form>
        <ul>
            {{#each npsetList}}
            <li><a href="/editprefs/{{this}}">{{this}}</a></li>    
            {{/each}}
        </ul>
    </div>
</div>
