<!-- This is a temporary page for demo's and to display the capabilities of work in progress. -->

<article class="grid-container align-middle">
    <div class="grid-x align-middle">
        <div class="medium-6 medium-offset-3 cell">
            <h1 class="text-center">Power Preferences Tool</h1>
            <div class="callout secondary">
                <h2>My Morphic Logins</h2>
                <p>These are account creation and login views for end users to their
                    MyMorphic and viewing their safe upon login.
                </p>
                <h2>Create New Safe</h2>
                <h2 class="text-center"><a href="/morphic/create/safe">Create Morphic Safe</a></h2>
                <h2>Individual Safe Login</h2>
                <h2 class="text-center"><a href="/morphic/login">Morphic Safe Login</a></h2>
            </div>

            <div class="callout secondary">
                <h2>Administrator and Support Login</h2>
                <p>
                    This is a version of the PPT that could be, given institutional alignment
                    and policies, be available for support staff to look up a prefs safe by ID
                    or other identifier to make changes to it.
                <h2 class="text-center"><a href="/ppt/support/login">PPT Admin/Support Login</a></h2>
            </div>


            <div class="callout secondary">
                <h2>Development and Testing Login</h2>
                <p>
                    This is a development and debug version of the PPT to run on
                    development servers. It allows full development, listing, and
                    deconstructing of prefs safes.
                </p>
                <h2 class="text-center"><a href="/ppt/dev/login">PPT for Developers and Support Staff</a></h2>
            </div>
        </div>
    </div>
</article>
