<article class="grid-container align-middle">
    <div class="grid-x align-middle">
        <div class="medium-6 medium-offset-3 cell">
            <h1 class="text-center">Power Preferences Tool</h1>
            <div class="callout secondary">
            <p>
            The Power Preferences Tool enables full editing of all aspects
            of GPII Preferences Safes. The tool comes in 2 flavors. End users of
            the GPII can log in to their cloud safe to edit their preferences, keys,
            and other metadata.  Support staff for installations, and developers can
            login to add and remove safes, as well as view a list of preferences safes to edit.
            </p>
            <h2 class="text-center"><a href="/ppt">PPT for Developers and Support Staff</a></h2>

            <h2 class="text-center"><a href="/cloudsafelogin">PPT for Individual Cloud Safes</a></h2>
            </div>
        </div>
    </div>
</article>
