<html>
    <head>
        <link rel="stylesheet" href="/modules/foundation-sites/dist/css/foundation.css" />
        <title>Developers Preference Testing Tool</title>
    </head>
    <body>
        <h2 id="title">Generic Preference Settings</h2>
        <p>
        Generic preference settings are universal settings stored in GPII that are 
        not particular to specific products. They can potentially be applied to a wide
        range of products automatically.
        </p>
        <div class="row expanded">
            <div class="small-8 columns">
                <table>
                    <thead>
                        <tr>
                            <th>Setting</th>
                            <th>Generic</th>
                            <th>G.Tired +</th>
                            <th>G.Bright +</th>
                            <th>G.Noisy +</th>
                            <th>G.Math +</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SettingName1</td>
                            <td><strong>off</strong></td>
                            <td>&lt;off&gt;</td>
                            <td>&lt;off&gt;</td>
                            <td>&lt;off&gt;</td>
                            <td><strong>on</strong></td>
                        </tr>
                        <tr>
                            <td>SettingName2</td>
                            <td><strong>300</strong></td>
                            <td>&lt;300&gt;</td>
                            <td>&lt;300&gt;</td>
                            <td>&lt;300&gt;</td>
                            <td>&lt;300&gt;</td>
                        </tr>
                        <tr>
                            <td>SettingName3</td>
                            <td><strong>"textValue"</strong></td>
                            <td>&lt;"textValue"&gt;</td>
                            <td>&lt;"textValue"&gt;</td>
                            <td>&lt;"textValue"&gt;</td>
                            <td>&lt;"textValue"&gt;</td>
                        </tr>
                        <tr>
                            <td>SettingName4</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>SPEECH:VoiceAll</td>
                            <td><strong>off</strong></td>
                            <td>&lt;off&gt;</td>
                            <td>&lt;off&gt;</td>
                            <td>&lt;off&gt;</td>
                            <td>&lt;off&gt;</td>
                        </tr>
                        <tr>
                            <td>SPEECH:SpeechRate (multiplier)</td>
                            <td><strong>2.0</strong></td>
                            <td><strong>0.9</strong></td>
                            <td>&lt;2.0&gt;</td>
                            <td>&lt;2.0&gt;</td>
                            <td><strong>1.6</strong></td>
                        </tr>
                        <tr>
                            <td>SPEECH:UpperCasePitch (Hz)</td>
                            <td><strong>1800</strong></td>
                            <td>&lt;1800&gt;</td>
                            <td><strong>2000</strong></td>
                            <td>&lt;1800&gt;</td>
                            <td>&lt;1800&gt;</td>
                        </tr>
                        <tr>
                            <td>SPEECH:PunctuationLevel</td>
                            <td><strong>"value"</strong></td>
                            <td>&lt;"value"&gt;</td>
                            <td>&lt;"value"&gt;</td>
                            <td>&lt;"value"&gt;</td>
                            <td>&lt;"value"&gt;</td>
                        </tr>
                        <tr>
                            <td>GROUP:Setting1</td>
                            <td><strong>0.75</strong></td>
                            <td>&lt;0.75&gt;</td>
                            <td>&lt;0.75&gt;</td>
                            <td><strong>0.5</strong></td>
                            <td><strong>0.25</strong></td>
                        </tr>
                        <tr>
                            <td>GROUP:Setting2</td>
                            <td>-</td>
                            <td><strong>on</strong></td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="small-4 columns">
                <h3>Setting Information</h3>
                <p>
                <em>Click a cell and it's information will appear here.</em>
                </p>
            </div>
        </div>
    </body>
</html>
