<!--
This page is loosely based on:
https://jwoaql.axshare.com/#g=1&p=sign_up_from_nothing
-->

<article class="grid-container">
    {{> morphic-mymorphic-banner}}
    <div class="grid-x grid-margin-x">
        <div class="medium-4 large-3 cell">
            <h2>Sign in</h2>
            <p>or <a href="/morphic/create/safe">create an account</a>
            <form autocomplete="off" action="/morphic/login" method="POST">
                <div class="grid-x">
                    <div class="small-12 cell">
                        <label>Email or account name
                            <input name="username" type="text" placeholder="" />
                        </label>
                        <label>Password
                            <input name="password" type="password" placeholder="" />
                        </label>
                        <button type="submit" class="button">Sign In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</article>
