<h1>Personal Cloudsafe</h1>
<a href="/logout">Log out of safe</a>

{{>editprefset-widget-includes}}

<script src="/src/js/client/editprefset-viewport.js"></script>

    <div id="pmt-editprefset-viewport" class="column" />

{{{initBlock "gpii.devpmt.editPrefs"}}}
