<article class="grid-container align-middle">
    <div class="grid-x align-middle">
        <div class="medium-4 medium-offset-4 cell">
            <h1 class="text-center">PPT Login</h1>
            <div class="callout secondary">
                <form autocomplete="off" method="POST">
                    <div class="grid-x">
                        <div class="small-12 cell">
                            <label>Username
                                <input name="username" type="text" placeholder="" />
                            </label>
                            <label>Password
                                <input name="password" type="password" placeholder="" />
                            </label>
                            <button type="submit" class="button">Sign In</button>
                        </div>
                    </div>
                </form>

                <p>
                This is a development and demo version of the PPT. To login and try out
                it's features you can use "morphic" and "gpii" as the username and password.
                </p>
            </div>
        </div>
    </div>
</article>
