<h1>PPT Login</h1>
<article class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="medium-5 large-3 cell">
            <div class="callout secondary">
                <h2>PPT Login</h2>
                <form action="/pptlogin" method="POST">
                    <div class="grid-x">
                        <div class="small-12 cell">
                            <label>Username
                                <input name="username" type="text" placeholder="" />
                            </label>
                            <label>Password
                                <input name="password" type="password" placeholder="" />
                            </label>
                            <button type="submit" class="button">Sign In</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</article>
