<div class="reveal" id="pmt-dialog-container" data-reveal>
    <h1>Base Confirmation Dialog Title</h1>
    <p>Instructions would go here</p>
    <div class="button-group">
        <button id="" type="button" class="success button pmt-confirm-dialog-button">{{{messageHelper "gpii_pmt_confirmButton"}}}</button>
        <button type="button"  class="delete button pmt-cancel-dialog-button">{{{messageHelper "gpii_pmt_cancelButton"}}}</button>
    </div>
</div>
