<div class="reveal" id="pmt-dialog-container" data-reveal>
    <h1>Base Confirmation Dialog</h1>
    <p>Courtesy of the DevPMT</p>
    <div class="button-group">
        <button id="" type="button" class="success button pmt-confirm-dialog-button">Confirm</button>
        <button type="button"  class="delete button pmt-cancel-dialog-button">Cancel</button>
    </div>
</div>
