<div class="reveal" id="dialog-container" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <h2>View Changes and Confirm Save</h2>
    <ul>
        {{#each unsavedChanges}}
        <li>
            {{this.description}}
        </li>
        {{/each}}
    </ul>

    <div class="button-group">
        <button id="" type="button" class="success button confirm-dialog-button">Save</button> 
        <button type="button"  class="delete button cancel-dialog-button">Cancel</button> 
    </div>
</div>

