<div class="reveal" id="pmt-dialog-container" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <h2>{{{message "devptt.addContextDialogHeader"}}}</h2>
    {{{message "devptt.addContextDialogInst"}}}
    <form>
    <label>Name
        <input id="pmt-add-context-name-input" type="text" placeholder="preferences01" />
    </label>

    <label>Select Menu
        <select id="pmt-context-to-copy-select">
            <option value=""><em>New Blank Set</em></option>
            {{#each contextNames}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
    </label>

    <div class="button-group">
        <button type="submit" class="success button pmt-confirm-dialog-button">Save</button>
        <button type="button"  class="delete button pmt-cancel-dialog-button">Cancel</button>
    </div>
    </form>
</div>

