{{!
Template for rendering a list of all the generic preference names,
and product specific names. Primarily used as a sidebar for various pages
to allow jumping to the setting in the page.

Each list item will made into a link to jump to a target id formatted such as:
a-settingname - for generic preferences
a-productname - to jump to a product
a-productname-settingname - to jump to a products setting

@param
@param
}}
<div class="callout small">
    <h2 class="small">Products</h2>
    <div id="filter-container">
        <div id="common-filter-area">
        </div>
    </div>
    <ul>
        <li class="pmt-sidebar-toc-product no-bullet"><a href="#a-">Generic Preferences</a></li>
        {{#each allSolutionsSorted}}
            <li data-appid="{{this.id}}" class="pmt-sidebar-toc-product no-bullet pmt-product-list">
                <a data-appid="{{this.id}}" class="pmt-sidebar-product-link" href="#a-{{this.id}}">{{this.name}}</a>
            </li>
        {{/each}}
    </ul>
</div>
