<div class="reveal" id="dialog-container" data-reveal>
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <h2>Delete Context</h2>
    <p>Are you sure you want to delete this context?</p>
    <p>{{contextId}}</p>

    <div class="button-group">
        <button id="" type="button" class="success button confirm-dialog-button">Delete</button> 
        <button type="button"  class="delete button cancel-dialog-button">Cancel</button> 
    </div>
</div>

