<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li>
                <a href="/"><i class="pmt-topnav-icon fi-home"></i></a>
            </li>
            <li>
                <h2 id="top">Preference Set: {{npsetName}}</h2>
            </li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li>
                {{#if devModeOn}}
                    <a class="pmt-topnav-icon-active" id="pmt-topbar-devmode-button"><i class="fi-wrench"></i></a>
                {{else}}
                    <a class="pmt-topnav-icon" id="pmt-topbar-devmode-button"><i class="fi-wrench"></i></a>
                {{/if}}
            </li>
            <li>
                {{#if unsavedChangesExist }}
                    <a class="pmt-topnav-icon-active" id="pmt-topbar-save-button"><i class="fi-save large"></i></a>
                {{else}}
                    <a class="pmt-topnav-icon" id="pmt-topbar-save-button"><i class="fi-save large"></i></a>
                {{/if}}
            </li>
            <!-- <li> -->
            <!--     <form action="/add-prefset" method="POST"> -->
            <!--         <div class="input-group"> -->
            <!--             <input class="input-group-field" name="prefset-name" type="text" placeholder="Prefset Name" /> -->
            <!--             <div class="input-group-button"> -->
            <!--                 <input type="submit" href="#" class="button" value="Add/Edit NP Set" /> -->
            <!--             </div> -->
            <!--         </div> -->
            <!--     </form> -->
            <!-- </li> -->
        </ul>
    </div>
</div>