<div class="grid-x">
    <div class="cell medium-12">
        <h2>Selected Snapsets</h2>
    </div>
</div>
<div class="grid-x">
    <div class="cell medium-3">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_1a">snapset_1a</a>
            </div>
            <img src="/src/images/snapset_1a.png" />
        </div>
    </div>
    <div class="cell medium-3">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_1b">snapset_1b</a>
            </div>
            <img src="/src/images/snapset_1b.png" />
        </div>
    </div>
    <div class="cell medium-3 end">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_1c">snapset_1c</a>
            </div>
            <img src="/src/images/snapset_1c.png" />
        </div>
    </div>
</div>

<div class="grid-x">
    <div class="cell medium-3">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_2a">snapset_2a</a>
            </div>
            <img src="/src/images/snapset_2a.png" />
        </div>
    </div>
    <div class="cell medium-3">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_2b">snapset_2b</a>
            </div>
            <img src="/src/images/snapset_2b.png" />
        </div>
    </div>
    <div class="cell medium-3 end">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_2c">snapset_2c</a>
            </div>
            <img src="/src/images/snapset_2c.png" />
        </div>
    </div>
</div>

<div class="grid-x">
    <div class="cell medium-3">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_3">snapset_3</a>
            </div>
            <img src="/src/images/snapset_3.png" />
        </div>
    </div>
    <div class="cell medium-3">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_4a">snapset_4a</a>
            </div>
            <img src="/src/images/snapset_4a.png" />
        </div>
    </div>
    <div class="cell medium-3 end">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_4b">snapset_4b</a>
            </div>
            <img src="/src/images/snapset_4b.png" />
        </div>
    </div>
</div>

<div class="grid-x">
    <div class="cell medium-3">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_4c">snapset_4c</a>
            </div>
            <img src="/src/images/snapset_4c.png" />
        </div>
    </div>
    <div class="cell medium-3 end">
        <div class="card" style="width: 175px">
            <div class="card-divider">
                <a href="/editprefs/snapset_4d">snapset_4d</a>
            </div>
            <img src="/src/images/snapset_4d.png" />
        </div>
    </div>
</div>
