<div class="grid-x">
    <div class="cell medium-12">
        <h2>Selected Demo Sets</h2>
    </div>
</div>
<div class="grid-x">
    {{#each selectedDemoSets}}
        <div class="cell medium-4">
            <div class="card">
                <div class="card-divider">
                    <a href="/editprefs/{{@key}}">{{@key}}</a>
                </div>
                {{{md this.doc}}}
            </div>
        </div>
    {{/each}}
</div>
