    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div><img src="/src/images/gpii-gear.svg" />&nbsp;&nbsp;<strong>{{{messageHelper "gpii_morphic_myMorphic"}}}</strong>
            <span class="float-right">{{{messageHelper "gpii_morphic_slogan"}}}</span>
            </div>
        </div>
    </div>
