<article class="grid-container">
    {{> morphic-mymorphic-banner}}
    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div>
                <img src="/src/images/anon-guy.png" />
                <p>Morphic does not recommend anonymous accounts.
                <p>
                Do NOT forget your Account Name or Password with an anonymous account.
                </p>

                <p>
                If you forget either one, you will not be able to make changes to your preferences. You also will not be able to add any extra Keys.
                </p>
                <p>
                If you don't want to worry about forgetting your sign-on information, consider
                <a href="#">Signing up another way</a>.
                </p>
            </div>

        </div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="medium-7 large-6 cell">
            <form action="/morphic/create/safe" method="POST" autocomplete="off" >
                <h2>Sign up for MyMorphic</h2>
                <p> or <a href="/morphic/login">sign into MyMorphic instead.</a></p>
                <div class="grid-x">
                    <div class="small-12 cell">
                        <label>Account Name
                            <input id="morphic-username" name="username" type="text" placeholder="" />
                        </label>
                        <label>Password
                            <input id="morphic-password" name="password" type="password" placeholder="" />
                        </label>
                        <label id="morphic-password-strength"></label>
                            <input id="morphic-accept-terms" type="checkbox" />
                            I accept the <a href="#">Terms of use for MyMorphic</a>
                        </label><br/>
                        <button id="morphic-sign-up-button" type="submit" class="button">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="medium-7 large-6 cell">
            <div class="callout">
            <p>Your Account Name has to be longer than 6 characters and must be unique.</p>
            </div>
            <div class="callout">
            <p>
                Your password protects your account and preferences from being viewed or changed by
                others. You must use a strong password.
            </p>
            <p>
                If you want to create a stronger password, we recommend using an easy-to-remember phrase or sentence.
            </p>
            </div>
            <div class="callout">
                In order to sign up for and use a MyMorphic account you need to accept the terms of
                use. It describes what data Morphic needs to provide auto-personalization and the
                purposes for which you may use the service.
            </div>
        </div>
    </div>
</article>