    <div class="grid-x grid-margin-x">
        <div class="cell">
            <div><img src="/src/images/gpii-gear.svg" />&nbsp;&nbsp;<strong>MyMorphic</strong>
            <span class="float-right">Your Settings. Instantly. Everywhere</span>
            </div>
        </div>
    </div>