<html>
    <head>
        <link rel="stylesheet" href="/modules/foundation-sites/dist/css/foundation.css" />
        <title>Developers Preference Testing Tool</title>
    </head>
    <body>
        {{{body}}}

        <script src="/modules/foundation-sites/vendor/jquery/dist/jquery.min.js"></script>
        <script src="/modules/foundation-sites/dist/js/foundation.min.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>
