<html>
    <head>
        <title>Developers Preference Testing Tool</title>

        {{>common-includes}}
    </head>
    <body>
        {{{body}}}

        <script>
            $(document).foundation();
        </script>
    </body>
</html>
