<html>
    <head>
        <title>Developers Preference Testing Tool</title>

        {{>common-includes}}

        <style>
            /* https://github.com/zurb/foundation-sites/issues/8041 */
            html, body {
                height: 100%;
            }
        </style>
    </head>
    <body>
        {{{body}}}

        <script>
            $(document).foundation();
        </script>
    </body>
</html>
